<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>libruh main</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Libruh main page</h1>
</body>
</html>