<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form action="/login" method="post">
        <h2>Login</h2>
            <input type="text" name="login" id="login" placeholder="Enter login">
            <input type="password" name="password" id="password" placeholder="Enter Password">
        <input type="submit" value="LogIn">
    </form>
</body>
</html>